Order List
<div class="columns" style="padding: 10px">
  <div class="column" ng-repeat="order in orders" style="flex-grow: 0">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="resources/{{order.pizza.id}}.png" alt="">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">{{order.pizza.name}}</p>
            <p class="subtitle is-6">{{formatPrice(order.pizza.price)}} €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
