<!DOCTYPE html>
<html ng-app="FC-JS">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <!-- Bulma -->
    <link rel="stylesheet" type="text/css" href="css/libs/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!-- Moment -->
    <script type="text/javascript" src="js/libs/moment-with-locales.min.js"></script>

    <!-- AngularJS -->
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-route.min.js"></script>

    <!--  -->
    <script type="text/javascript" src="js/index.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="js/services/pizzapi.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="js/controllers/home.js"></script>
    <script type="text/javascript" src="js/controllers/orders.js"></script>
  </head>
  <body>
    <div ng-controller="AppCtrl">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item is-brand" href="#">
            FC-JS
          </a>
        </div>

        <div class="nav-right nav-menu">
          <a class="nav-item" href="#/home">
            Accueil
          </a>
          <a class="nav-item" href="#/orders">
            Commandes
          </a>
        </div>
      </nav>
      <div class="loading" ng-if="requestStatus"></div>
      <div style="padding: 10px">
        <article class="message is-danger" ng-if="errorAPI">
          <div class="message-header">
            Erreur
          </div>
          <div class="message-body">
            La requête n'a pas pu aboutir (Code : {{errorAPI}})
          </div>
        </article>
      </div>
      <div ng-view style="padding: 10px"></div>
      </div>
  </body>
</html>
